---
layout: default
title: Writing
titleIgnore: true
---

<div class="blog-page">
  {% for post in paginator.posts %}
    <div class='article-item full-article group' itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 class="main-headline" itemprop="name headline">
        <a href="{{ post.url }}" itemprop="url">
          {{ post.title }}
        </a>
      </h2>
      <span class="date">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
      </span>
      <div class='excerpt' itemprop="articleBody">
        {{ post.excerpt | replace: "h2", "h3" | remove: '<img>' }}
      </div>
      <a href="{{ post.url }}" class="continue" itemprop="url">continue reading</a>

    </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" aria-label="previous" class="previous"><</a>
  {% else %}
    <span class="previous"><</span>
  {% endif %}
  {% for pagination_page in (1..paginator.total_pages) %}
    {% if paginator.page == pagination_page %}
      <span class="active">{{ pagination_page }}</span>
    {% else %}
      {% if pagination_page == 1 %}
        <a class="page" href="/">{{ pagination_page }}</a>
      {% else %}
        <a class="page" href="/blog/page/{{ pagination_page }}">{{ pagination_page }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" aria-label="next" class="next">></a>
  {% else %}
    <span class="next ">></span>
  {% endif %}
</div>
