---
layout: photos
title: Photos
permalink: /photos/
---

<div itemscope itemtype="https://schema.org/ImageGallery">
  <section class='main photo-list'>
    <div class="photos-page group">
      {% for photo in site.photos reversed %}
        <a href="{{ photo.url }}" class="continue">
          <div class='photo-item group' style="background-image: url('/images/photos/thumbs/{{ photo.name }}.jpg')" itemscope itemtype="https://schema.org/Photograph">
            <div class="info">
              <h2 itemprop="name">
                {{ photo.title }}
              </h2>
              <div class='excerpt'>
                {{ photo.content }}
              </div>
            </div>
            <meta itemprop="image" content="/images/photos/{{ photo.name }}.jpg" /> 
            <meta itemprop="creator" content="Scott Davis">
            <meta itemprop="copyrightHolder" content="Scott Davis">
            <meta itemprop="copyrightYear" content="{{ 'now' | date: '%Y' }}"> 
          </div>
        </a>    
      {% endfor %}
    </div>
  </section>

  {% include author_aside.html show_extra="true" %}
</div>
