<aside class='text-center get-in-touch'>
  <h3>Get in touch</h3>
  <h5>Email me</h5>
  <a class='icon' href='mailto:sc@ttdaviscom'>
    <i class='ss-icon'>email</i>
  </a>
  <h5>I'm on twitter too</h5>
  <a class='icon' href='http://twitter.com/scttdavs'>
    <i class='ss-icon'>twitter</i>
  </a>
  <h5>I also Dribbble</h5>
  <a class='icon' href='http://dribbble.com/scttdavs'>
    <i class='ss-icon'>dribbble</i>
  </a>
  <h5>and have a CodePen and commit</h5>
  <a class='icon codepen' href='http://codepen.io/scottdavis'></a>
  <a class='icon' href='https://github.com/scttdavs'>
    <i class='ss-icon'>githuboctocat</i>
  </a>
</aside>