<aside itemprop="creator" itemscope itemtype="http://schema.org/Person">
  <div class='avatar-wrap'>
    <div class='avatar'>
      <meta itemprop="image" content="/images/me.jpg" />
      <div class='pic'></div>
    </div>
  </div>
  <p class='summary text-center' itemprop="description">
    <strong itemprop="name">
      Scott Davis
    </strong>
    is a NY-based software engineer.
  </p>
  {% if include.show_extra == 'true' %}
    <p class='summary text-center'>
      All images are panoramic and were taken with film by either a <a href="http://microsites.lomography.com/horizon/">Horizon</a> or a <a href="http://microsites.lomography.com/sprocketrocket/">Sprocket Rocket</a> camera.
    </p>
  {% endif %}
</aside>
