.pagination {
  font: normal 16px "Lato", sans-serif;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: -30px;
  }

  @mixin underline {
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      border-top: solid 2px $offred;
      top: 22px;
    }
  }

  span.previous,
  span.next {
    color: $darkgray;
  }

  span.active {
    color: $darkenedblue;
    @include underline;
  }

  a {
    color: $offmiddle;
  }

  a.page {
    display: inline-block;
    position: relative;

    &:hover {
      color: $darkenedblue;
      @include underline;
    }
  }

  span, a {
    display: inline-block;
    margin-right: 10px;
  }

  > *:last-child {
    margin-right: 0;
  }

  .previous {
    margin-right: 20px;
  }

  .next {
    margin-left: 10px; // difference between page number's margin right
  }
}
