<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class='group'>

    {% include header.html %}

    {% include gradient-bar.html %}

    <div class='full-width'>
      <img src="/images/pano.jpg">
    </div>

    <div class='group' itemscope itemtype="http://schema.org/Person">
      <section class='main about show-aside article-list'>
        <div class='article-item group' itemprop="description">
          {{ content }}
        </div>
      </section>
      
      {% include about_aside.html %}
    </div>

    {% include footer.html %}

  </body>

</html>
