---
layout: photos
---
<section class='photo group' itemscope itemtype="https://schema.org/Photograph">
  <h1 itemprop="name">{{ page.title }}</h1>
  <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    By
    <meta itemprop="email" content="sc@ttdavis.com" />
    <span itemprop="givenName">Scott</span>
    <span itemprop="familyName">Davis</span>
    ,
  </span>
  <span class="date" itemprop="datePublished">
    <time>
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
  </span>

  <img itemprop="image" src="/images/photos/{{ page.name }}.jpg">

  <p>{{ content }}</p>

  <meta itemprop="creator" content="Scott Davis">
  <meta itemprop="copyrightHolder" content="Scott Davis">
  <meta itemprop="copyrightYear" content="{{ 'now' | date: '%Y' }}"> 
</article>
