---
layout: default
---
<article class='article-item group' itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title }}</h1>
  <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    By
    <meta itemprop="email" content="sc@ttdavis.com" />
    <span itemprop="givenName">Scott</span>
    <span itemprop="familyName">Davis</span>
    ,
  </span>
  <span class="date">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
  </span>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
